* {
  box-sizing: border-box;
}

.container {
  padding-top: 50px;
}

.file-uploader-input {
  max-width: 500px;
}

.filter__form {
  gap: 10px;
}

.badge {
  font-size: 14px;
}

@media (max-width: 576px) {
  .filter__form {
    flex-wrap: wrap;
  }
}